.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: .5rem;
}

.episode-header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #000;
  padding: .5rem;
  position: sticky;
  top: 0;
}